.navbar{
    display: flex;
    justify-content: center;
    background-color:goldenrod;
    padding: 10px;
    margin: -10px;
    border: solid 1px;
}
#name{
    display: flex;
    justify-content: start;
    margin-top: -30px;
}
#home{
    padding: 10px;
    background-color: gold;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#about{
    padding: 10px;
    border-radius: 20px;
    background-color: gold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#contact{
    padding: 10px;
    background-color: gold;
    border-radius: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#Buy{
    padding: 10px;
    background-color: gold;
    border-radius: 25px;
}
#Sell{
    padding: 10px;
    background-color: gold;
    border-radius: 25px;
}
#btn{
    padding: 10px;
    border-radius: 20px;
    border: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#p1{
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-size: x-large;
    background-color: beige;
    margin: 100px 50px 0px 50px;
    border-radius: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
